        body{
            font-family: 'Big Shoulders Stencil Text', cursive;
            font-size: 27px; 
            background-color:#083b3b;
        }
        /* pode adicionar vários padrões em conjunto, como o parágrafo e a lista*/
        p,li{
            color:rgb(5, 43, 5);
        }
        
        h1{
            color:rgb(44, 80, 44);
        }

        h3{
            color:lightgreen
        }
        .imagem{
            border-radius: 5%;
        }

        .nome{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 23px
        }

        .descricao{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .button{
            background-color: rgb(33, 66, 31);
            color:black;
            padding: rgb(33, 66, 31);
            text-decoration: none;
            font-size: 30px;
            border-radius: 4px
        }

        .github{
            background-color: rgb(33, 66, 31);
            color:black;
            padding: rgb(33, 66, 31);
            text-decoration: none;
            font-size: 27px;
            border-radius: 4px
        }

        /* posso criar a classe. Onde eu quiser marcar desse jeito que .trybe define, vou até o lugar e coloco class="tribe", por exemplo */
